@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
body [data-floating-ui-portal]{
  height: 100vh;
  overflow-y: hidden;
}
body [data-floating-ui-inert]{
  overflow-y: hidden;
}
/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
}
/* For scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;/*#888*/
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
  transition: all linear 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkseagreen;
}